.profileCard {
    background-color: rgba(76, 175, 79, 0.69);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 708px;
    padding: 82px 24px 278px;
    text-align: center;
  }
  
  .profileImage {
    aspect-ratio: 1.05;
    object-fit: contain;
    width: 160px;
  }
  
  .profileInfo {
    margin-top: 32px;
    width: 100%;
  }
  
  .divider {
    border: 1px solid rgba(202, 196, 208, 1);
    margin-bottom: 4px;
    width: 100%;
  }
  
  .userName {
    color: var(--Schemes-On-Surface-Variant, #49454f);
    font: 400 22px/28px Roboto, sans-serif;
    letter-spacing: 0;
  }
  
  .logoutButton {
    background: none;
    border: 1px solid rgba(121, 116, 126, 1);
    border-radius: 8px;
    color: var(--Schemes-On-Surface, #1d1b20);
    font: 500 14px/20px Roboto, sans-serif;
    letter-spacing: 0.1px;
    margin-top: 32px;
    padding: 6px 16px;
  }
  
  @media (max-width: 991px) {
    .profileCard {
      padding: 0 20px 100px;
    }
  }