.navigationPill {
    color: #4d4d4d;
    text-align: center;
    line-height: 0.7;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  .navigationPill:hover {
    background-color: #f0f0f0;
  }