.sidebar {
    background-color: rgba(76, 175, 79, 0.69);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px 24px;
    width: 32%;
  }
  
  .avatar {
    width: 160px;
    height: 160px;
    object-fit: contain;
  }
  
  .userInfo {
    margin-top: 32px;
    width: 100%;
    color: #49454f;
    font: 400 22px/28px Roboto, sans-serif;
    text-align: center;
  }
  
  .divider {
    border: 1px solid #cac4d0;
    margin-bottom: 4px;
  }
  
  .userName {
    margin-top: 4px;
  }
  
  .logoutButton {
    margin-top: 32px;
    padding: 6px 16px;
    border-radius: 8px;
    background: transparent;
    color: #1d1b20;
    font: 500 14px/20px Roboto, sans-serif;
    letter-spacing: 0.1px;
    border: 1px solid #79747e;
    cursor: pointer;
  }
  
  @media (max-width: 991px) {
    .sidebar {
      width: 100%;
      padding: 40px 20px;
    }
  }